<a
  routerLinkActive="active"
  [routerLink]="[index]"
  role="button"
  class="list-group-item clearfix"
>
  <div
    id="imgCont"
    class="d-flex justify-content-between">
    <div
      style="flex: 1.3"
      class="d-flex flex-column text-center justify-content-center pull-left">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div
      style="flex: 1"
      class="img-container">
      <img
        [src]="recipe.imagePath"
        alt="A tasty delicious pie"
        class="img-responsive"
      >
    </div>
  </div>
</a>
